/* Estilos generales */
body {
    font-family: 'Gabarito', cursive;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
    display: flex;
}

.container {
    width: 400px;
    margin: 0 auto;
    margin-top: 200px;
    padding: 24px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin: 0 0 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 4px;
}

input[type="text"],
input[type="password"] {
    font-family: 'Gabarito', cursive;
    color: #777777;
    width: 366px;
    padding: 16px;
    margin-bottom: 0px;
    border: 1px solid #cccccc7d;
    border-radius: 8px;
}

button {
    width: 100%;
    background-color: #6200ff;
    font-family: 'Gabarito', cursive;
    font-size: 16px;
    color: #fff;
    border: none;
    margin-top: 16px;
    padding: 16px 20px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #4a00c0;
}

/*Estilos pagina de confirmación*/

.confirmation-container {
    flex-direction: column;
    text-align: center;
    width: 400px;
    margin: 0 auto;
    margin-top: 200px;
    padding: 48px 24px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.confirmation-tile {
    color: rgb(0, 173, 66);
}